apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: xquare-project-applicationset
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/team-xquare/xquare-onpremise-project-gitops-repo
        revision: HEAD
        files:
          - path: "projects/*.yaml"
  template:
    metadata:
      name: '{{.path.filenameNormalized | trimSuffix ".yaml"}}-dsm-project'
      labels:
        project: '{{.path.filenameNormalized | trimSuffix ".yaml"}}'
    spec:
      project: default
      source:
        repoURL: https://github.com/team-xquare/xquare-onpremise-project-gitops-repo
        targetRevision: HEAD
        path: chart
        helm:
          valueFiles:
            - '../{{.path.path}}/{{.path.filename}}'
          parameters:
            - name: project
              value: '{{.path.filenameNormalized | trimSuffix ".yaml"}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{.path.filenameNormalized | trimSuffix ".yaml"}}-dsm-project'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - PruneLast=true
          - CreateNamespace=true
          - ServerSideApply=true
          - RespectIgnoreDifferences=true
          - ApplyOutOfSyncOnly=true
          - Validate=true
