FROM node:{{ node_version }} AS build

WORKDIR /app

COPY . .

{% for command in build_commands %}
RUN {{ command }}
{% endfor %}

FROM node:{{ node_version }}

WORKDIR /app

COPY --from=build /app .

EXPOSE {{ port }}

{%- if command %}
CMD [
  {%- for arg in command.split() %}
  {%- if not loop.first %}, {% endif %}"{{ arg }}"
  {%- endfor %}]
{%- endif %}