---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ include "project.namespace" . }}
  labels:
    {{- include "project.labels" . | nindent 4 }}
    name: {{ include "project.namespace" . }}
    tenant-id: "{{ include "project.namespace" . | adler32sum }}"
